<div class="container">
  <button mat-raised-button color="primary" class="btn-add" routerLinkActive="active" routerLink="/create-tag">
    Add Tag
  </button>

  <p *ngIf="dataSource && dataSource.data.length <= 0" class="no-data text-center">There is no tag added yet!</p>

  <table mat-table *ngIf="dataSource && dataSource.data.length > 0" [dataSource]="dataSource" class="mat-elevation-z4">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let tag">{{tag.name}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let tag">
        <span class="edit" [routerLink]="['/edit-tag/', tag._id]">
            <button mat-raised-button type="button">Edit</button>
          </span>
        <span class="btn-action" (click)="removeTag(tag)">
            <button mat-raised-button color="warn" type="button">Delete</button>
          </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let tag; columns: displayedColumns;"></tr>
  </table>
</div>
