<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <div class="card-body">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
          <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
            Name is required.
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age">
          <div class="invalid-feedback" *ngIf="submitted && myForm.age.errors?.required">
            Age is required.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.age.errors?.min">
            Min age: 18
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.age.errors?.max">
            Max age: 70
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Office</mat-label>
          <select matNativeControl (change)="updateOffice($event.target.value)"
            formControlName="office">
            <option value="">Choose...</option>
            <option *ngFor="let office of Offices" value="{{office}}">{{office}}
            </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && myForm.office.errors?.required">
            Choose office.
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="text" formControlName="phone" mask="000-0000-0000" [validation]="false">
          <div class="invalid-feedback" *ngIf="submitted && myForm.phone.errors?.required">
            Enter your phone number.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.phone.errors?.pattern">
            Enter Numbers Only
          </div>
        </mat-form-field>

        <div class="form-group">
          <label>Tags</label>
          <ng-multiselect-dropdown
                  name="tags"
                  [placeholder]="'Select tags'"
                  [data]="allTags"
                  formControlName="tags"
                  [settings]="dropdownSettings"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group">
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>
